<head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Tech Co - Development &amp; Consultancy">
    <meta name="author" content="Paul Rogers">
    <meta name="copyright" content="Copyright &copy;{{ year }} Flask Static™">
    <meta name="robots" content="index, follow">
    <meta name="google-site-verification" content="update-me"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poiret+One">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:700italic,300">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dark-theme.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename="img/flask-icon.png") }}">
    <script src='https://www.google.com/recaptcha/api.js' async defer></script>
</head>